<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
  <h2>Users search for "<%= @word %>"</h2>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image(50, 50) %>
            <% end %>
          </td>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <thead>
      <tr>
        <th>icon</th>
        <th>description</th>
        <th>image</th>

      </tr>
    <tbody>
    <h2>Diaries search for "<%= @word %>"</h2>
    <% if @diaries.present? %>
      <% @diaries.each do |diary| %>
        <tr>
          <td>
            <%= link_to user_path(diary.user) do %>
              <%= image_tag diary.user.get_profile_image(50, 50) %>
            <% end %>
          </td>
          <td><%= link_to diary.description , diary_comments_path(diary.id) %></td>
          <td><%= image_tag diary.get_image(50,50) %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  <% end %>
</table>